        <ul>
  <li><strong>Deploying IPOP-VPN</strong>
    <ul>
      <li>[[Installation]]</li>
      <li>[[Configuration]]</li>
      <li>[[Deploying XMPP STUN TURN Services]]</li>
    </ul>
  </li>
  <li><strong>Tutorials</strong>
    <ul>
      <li>
        <table>
          <tbody>
            <tr>
              <td>[[GroupVPN Tutorial</td>
              <td>All inclusive IPOP GroupVPN Tutorial]]</td>
            </tr>
          </tbody>
        </table>
      </li>
      <li>
        <table>
          <tbody>
            <tr>
              <td>[[Running IPOP in Switchmode</td>
              <td>Switchmode with LXC]]</td>
            </tr>
          </tbody>
        </table>
      </li>
    </ul>
  </li>
  <li><strong>Contributing to the IPOP Project</strong>
    <ul>
      <li>[[How to Contribute]]</li>
    </ul>
  </li>
  <li><strong>Development Guide</strong>
    <ul>
      <li>[[Development Workflow]]</li>
      <li>[[Coding Guidelines]]</li>
      <li>[[Building the Code]]</li>
      <li>[[Testing Your Build]]</li>
      <li>[[Controller-Framework]]</li>
      <li>[[Controller API]]</li>
      <li>[[Building the WebRTC lib for Linux]]</li>
      <li>[[Building the WebRTC lib for Windows]]</li>
    </ul>
  </li>
  <li><strong>General Documentation</strong>
    <ul>
      <li>[[FAQs]]</li>
      <li>[[Troubleshooting]]</li>
      <li>[[Planning Your Network]]</li>
      <li>
        <table>
          <tbody>
            <tr>
              <td>[[Coding Challenges</td>
              <td>Coding Challenges]]</td>
            </tr>
          </tbody>
        </table>
      </li>
      <li>[[Known Issues]]</li>
      <li>[[Getting Help]]</li>
    </ul>
  </li>
</ul>