<!--This file includes all header and navigation menu related includes-->

</head>
<body class="page page-id-58 page-parent page-child parent-pageid-36 page-template-default h-arial b-arial light">
<a name="top"></a>
<div id="header_wrap">
<div id="header">
    <div id="nav">
    <div id="menu_wrap" class="below" style="width:950px;float:right;margin:20px 0px 0px 150px;"><div id = "menu"><div class="menu-main-container"><ul id="menu-main" class="menu"><li id="menu-item-50" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-50"><a href="{{site.baseurl}}">About</a>
<ul class="sub-menu">
	<li id="menu-item-166" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-166"><a href="{{site.baseurl}}/about-2/project-history">Project history</a></li>
	<li id="menu-item-505" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-505"><a href="{{site.baseurl}}/about-2/usage-scenarios">Usage scenarios</a></li>
	<li id="menu-item-345" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-345"><a href="{{site.baseurl}}/ipop-users">IPOP Users</a>
	<ul class="sub-menu">
		<li id="menu-item-348" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-348"><a target="_blank" href="http://www.archer-project.org">Archer</a></li>
		<li id="menu-item-347" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-347"><a target="_blank" href="http://portal.futuregrid.org">FutureGrid</a></li>
		<li id="menu-item-349" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-349"><a target="_blank" href="http://www.conpaas.eu">ConPaaS</a></li>
		<li id="menu-item-346" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-346"><a target="_blank" href="http://www.pragma-grid.net/">PRAGMA</a></li>
	</ul>
</li>
	<li id="menu-item-145" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-145"><a href="{{site.baseurl}}/about-2/acknowledgments">Sponsors</a></li>
</ul>
</li>
<li id="menu-item-195" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-195"><a href="{{site.baseurl}}/learn/architecture">Learn</a>
<ul class="sub-menu">
	<li id="menu-item-183" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-183"><a href="{{site.baseurl}}/learn/architecture">Architecture</a>
	<ul class="sub-menu">
		<li id="menu-item-111" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-111"><a href="{{site.baseurl}}/learn/tincan">TinCan</a></li>
		<li id="menu-item-315" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-315"><a href="{{site.baseurl}}/learn/controllers">Controller</a></li>
		<li id="menu-item-163" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-163"><a target="_blank" href="https://github.com/ipop-project/ipop-project.github.io/wiki/Controller-API">Controller-TinCan API</a></li>
	</ul>
</li>
	<li id="menu-item-189" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-189"><a href="{{site.baseurl}}/learn/xmpposn-bindings">XMPP/OSN Bindings</a></li>
	<li id="menu-item-192" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-192"><a href="{{site.baseurl}}/learn/nat-traversal">NAT Traversal</a></li>
	<li id="menu-item-162" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-162"><a href="{{site.baseurl}}/learn/controllers">Controllers</a>
	<ul class="sub-menu">
		<li id="menu-item-112" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-112"><a href="{{site.baseurl}}/socialvpn">SocialVPN</a></li>
		<li id="menu-item-113" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-113"><a href="{{site.baseurl}}/learn/groupvpn">GroupVPN</a></li>
	</ul>
</li>
	<li id="menu-item-84" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-84"><a href="{{site.baseurl}}/learn/publications">Documents and publications</a></li>
	<li id="menu-item-540" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-540"><a target="_blank" href="{{site.baseurl}}/wp-content/uploads/IPOP-WhitePaper-1605.pdf">IPOP White Paper</a></li>
	<li id="menu-item-85" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-85"><a href="{{site.baseurl}}/learn/videos">Videos</a></li>
</ul>
</li>
<li id="menu-item-216" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current-menu-ancestor current-menu-parent menu-item-has-children menu-item-216"><a href="./">Use</a>
<ul class="sub-menu">
	<li id="menu-item-314" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-58 current_page_item menu-item-has-children menu-item-314"><a href="./">Hands-on tutorials</a>
	<ul class="sub-menu">
		<li id="menu-item-298" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-298"><a href="https://github.com/ipop-project/ipop-project.github.io/wiki/All-inclusive-IPOP-GroupVPN-Tutorial">IPOP tutorial</a></li>
	</ul>
</li>
	<li id="menu-item-331" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-331"><a href="./">Installing IPOP</a>
	<ul class="sub-menu">
		<li id="menu-item-96" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-96"><a target="_blank" href="https://github.com/ipop-project/ipop-project.github.io/wiki/Installation">Installing IPOP</a></li>
	</ul>
</li>
	<li id="menu-item-479" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-479"><a target="_blank" href="https://github.com/ipop-project/downloads/releases">Downloads</a></li>
	<li id="menu-item-100" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-100"><a target="_blank" href="https://github.com/ipop-project/documentation/wiki">Building</a>
	<ul class="sub-menu">
		<li id="menu-item-334" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-334"><a target="_blank" href="https://github.com/ipop-project/ipop-project.github.io/wiki/Building-the-Code">Building IPOP</a></li>
	</ul>
</li>
	<li id="menu-item-299" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-299"><a target="_blank" href="https://github.com/ipop-project/ipop-project.github.io/wiki/FAQs">FAQs</a></li>
	<li id="menu-item-300" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-300"><a target="_blank" href="https://github.com/ipop-project/ipop-project.github.io/wiki/Known-Issues">Known issues</a></li>
</ul>
</li>
<li id="menu-item-41" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-41"><a href="{{site.baseurl}}/contribute">Contribute</a>
<ul class="sub-menu">
	<li id="menu-item-93" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-93"><a target="_blank" href="http://github.com/ipop-project">Code repository</a></li>
	<li id="menu-item-94" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-94"><a target="_blank" href="https://github.com/ipop-project/ipop-tincan/issues">Reporting issues</a></li>
	<li id="menu-item-139" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-139"><a target="_blank" href="https://github.com/ipop-project/ipop-project.github.io/wiki/How-to-Contribute">Submitting code</a></li>
</ul>
</li>
<li id="menu-item-89" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-89"><a href="{{site.baseurl}}/contact">Contact</a>
<ul class="sub-menu">
	<li id="menu-item-287" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-287"><a target="_blank" href="https://lists.ufl.edu/cgi-bin/wa?SUBED1=IPOP-USERS-L&#038;A=1">Mailing list</a></li>
	<li id="menu-item-103" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-103"><a href="{{site.baseurl}}/contact/people">People</a></li>
</ul>
</li>
</ul></div></div></div>    </div>
		<span id="text-header"><a href="{{site.baseurl}}" title="">IPOP</a></span> <span id="text-slogan"></span></div>
</div>
<!--/header-->