---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes";

.site-title {
  font-size: larger;
}

.page__hero--overlay {
  padding: 2em 0;
}

p {
  margin-bottom: 0;
}

.profile-img {
  clear: both;
  float: left;
  border-radius: 4px;
  margin: 0 1em 1em 0;
}

.clear-both {
  clear: both;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.page__hero--overlay .page__title, .page__hero--overlay .page__meta, .page__hero--overlay .comment__date, .page__hero--overlay .page__lead, .page__hero--overlay .btn, .page__hero--overlay #goog-wm-sb {
    text-shadow: 4px 4px 4px rgba(0,0,0,1);
}

.one-third {

  @include span(100%);
  margin-right: 0;
  margin-bottom: 2em;

  @include breakpoint($medium) {
    @include span(47.5%);
    margin-right: 2.5%;
    margin-bottom: 2em;
  }

  @include breakpoint($large) {
    @include span(30.8333%);
    margin-right: 2.5%;
    margin-bottom: 2em;
  }
}

.three-fourth {

  @include span(100%);
  margin-right: 0;

  @include breakpoint($medium) {
    @include span(72.5%);
    margin-right: 2.5%;
  }

  @include breakpoint($large) {
    @include span(72.5%);
    margin-right: 2.5%;
  }
}

.last-fourth {

  @include span(100%);
  margin-right: 0;
  margin-top: 2em;
  text-align: left;

  @include breakpoint($medium) {
    @include span(25%);
    margin-right: 0;
    margin-top: 0;
    text-align: right;
  }

  @include breakpoint($large) {
    @include span(25%);
    margin-right: 0;
    margin-top: 0;
    text-align: right;
  }
}

.one-half {

  @include span(100%);
  margin-right: 0;
  margin-bottom: 2em;

  @include breakpoint($medium) {
    @include span(47.5%);
    margin-right: 2.5%;
    margin-bottom: 2em;
  }

  @include breakpoint($large) {
    @include span(47.5%);
    margin-right: 2.5%;
    margin-bottom: 2em;
  }
}

.padding-bottom-right {
  padding-right: 0.5em;
  padding-bottom: 0.5em;
}

.align-right {
  text-align: right;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 1.5em; 
}

figcaption {
  margin-bottom: 1em;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  text-align: center;
}

.nav__list .nav__items {
  font-size: 1.50rem;
}

.nav__list .nav__items .active {
  margin-left: 0;
}

.masthead {
  border-bottom: 5px solid #E28F41;
}

.page__footer {
  border-top: 5px solid #6C9AC3;
  color: #6C9AC3;
}

a, .nav__list .nav__items a, .greedy-nav a:hover {
  color: #6C9AC3;
}

.greedy-nav a.site-title {
  color: #6C9AC3;
  font-size: xx-large;
  text-shadow: 1px 1px 1px #000;
}

.greedy-nav button, .greedy-nav .visible-links a:before {
  background-color: #6C9AC3;
}

.greedy-nav a {
  color: #E28F41;
  margin: 0px 0.6rem;
}

.greedy-nav .visible-links {
  padding-right: 1.5rem;
}

.page__footer .fa {
  color: inherit;
}

.footnote {
  font-size: .75em;
}