<!--The default layout that will be included in all the html pages with layout marker-->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head profile="http://gmpg.org/xfn/11">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>

<!--Put all the content of page here-->
{{content}}

<!-- You can start editing here. -->
<div id="comments">

	

</div>
						
										<div class="clear"></div>
								</div><!--/#content-->
							</div><!--/GetContentGrid-->

								
															<div class="clear"></div>
						</div><!--/MidWrap-->
					</div><!--/#container-->
					</div><!--/wrap-->
					</div>
<div class="clear"></div>
<div id="footer">


<div id="bottom">
This material is based upon work supported in part by the National Science Foundation under Grant No. 1339737.<br />
</div><!--/bottom-->
</div><!--/footer-->



</body>
</html>