---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}
{% if page.url != '/wiki/_Sidebar' %}
<div id="main" role="main">
  <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
    {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date: "%B %d, %Y" }}">{% endif %}
    {% if page.last_modified_at %}<meta itemprop="dateModified" content="{{ page.last_modified_at | date: "%B %d, %Y" }}">{% endif %}

    <div class="page__inner-wrap">
      <section class="page__content" itemprop="text">
{% if page.url != '/wiki/Home' %}
        <aside class="sidebar__right">
          <nav class="toc">
            <header><h4 class="nav__title"><i class="fa fa-file-text"></i> On This Page</h4></header>
            {{ content | toc_only }}
          </nav>
        </aside>
{% endif %}
        {{ content }}
{% else %}
        {{ content }}
{% endif %}

      </section>
    </div>
  </article>

{% if page.url != '/wiki/_Sidebar' %}
  <div class="sidebar">
    <nav class="nav__list">
      <div class="wiki-top-links">
        <a href="../wiki" class="display-unset">Wiki Home</a> / <a href="../wikipages" class="display-unset">Wiki Pages</a>
      </div>
      {% include_absolute _site/wiki/_Sidebar.html %}
    </nav>
  </div>
{% endif %}

</div>
